body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  border: 5px solid red;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 5px solid saddlebrown;
}

img {
  width: 600px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.buttons {
  font-family: "Courier New", Courier, monospace;
  border: none;
  border-radius: 8px;
  background: #eee;
  display: flex;
  justify-content: center;
}

input {
  border: 1px soild #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;

  border: 5px solid pink;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.footer {
  display: flex;
  margin-top: 350px;
  background: #eee;
  border: 5px solid black;
}
